.heading {
	font-size: 5rem;
	font-family: "Fredoka One";
}
.heading-2 {
	font-size: 1.5rem;
	font-family: "Nunito", system-ui;
	font-weight: 800;
	margin-right: 5rem;
}
body {
	font-family: "Nunito";
}
.box-neu {
	border-radius: 2rem;
	background: linear-gradient(145deg, #2a3849, #232f3d);
	box-shadow:  29px 29px 58px #131921, 
				-29px -29px 58px #3b4f67;
}
.box-head {
	font-family: "Fredoka One";
	font-size: 2rem;
	text-align: center;
}
.dark-mode {
	color: white;
	text-align: center;
}
.column-cube {
	padding: 20px;
	font-weight: bold;
	color: white;
	margin: 10px;
	border-radius: 20px;
}
.column-title {
	font-family: "Fredoka One";
	font-size: 3rem;
}
.column-cube:hover {
	box-shadow: 8px 8px black;
}
.centerImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 50px;
  }

.weblink {
	color: var(--alt-wash);
}
.weblink:hover {
	color: var(--primary-wash);
}

.donate {
	text-decoration: underline;
	padding-left: 2rem;
	text-decoration-color: red;
	color: var(--snow);
	background: var(--muted);
	border-radius: 10px;
	margin-right: 30%;
}
.donate:hover {
	text-decoration-color: var(--primary);
	background: var(--bandark);
	/* font-style: italic; */
}

.donateLink {
	text-decoration: underline;
	text-decoration-color: var(--space-purple);
	color: white;
	font-weight: 300;
	font-size: 1.5rem;
}
.donateLink:hover {
	/*font-size: 2em;*/
	text-decoration-color: var(--onenote);
	color: var(--accent-wash);
	font-weight: 900;
}

.bold-text {
	font-weight: 900;
}

.custList {
	list-style-type: circle;
	/* margin-left: 1rem; */
	padding-left: 1.5rem;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 8px;
	background: var(--hyacinth);
	
}

.card{
	border-radius:.5rem;
	border:none;
}
.card-header:first-child{
	border-radius:calc(.5rem - 1px) calc(.5rem - 1px) 0 0;
}
.card-header{
	font-size:.6875rem;color:#273654;background-color:#f6f6f4;padding:1rem 1.25rem .8rem;
	border-bottom: 1px solid #eee;
}
.card-footer{
	background-color:#f6f6f4;
	border-top:1px solid #eee;
}
.card-footer:last-child{
	border-radius:0 0 calc(.5rem - 1px) calc(.5rem - 1px);
}

.lineHeight {
	line-height: 2;
}
.descript {
	background-image: url('assets/stock-mask.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.hero-gray {
	background-image: url('assets/hero.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}