:root {
	--lemonade: #ff5a5f;
	--green: #55fa5f;
	--blue: #009a87;
	--alt: #13cfbf;
	--alt-wash: #6ed5fa;
	--onenote: #2e75b5;
	--accent-wash: #befad9;
	--accent: #5cdb95;
	--bandark: #1b1a1f;
	--steel: #273444;
	--slate: #3c4858;
	--muted: #8492a6;
	--smoke: #e0e6ed;
	--snow: #f9fafc;
	--primary: #ffb400;
	--primary-wash: #ffdc89;
	--super-wash: #ffefc9;
	--space-purple: #7e71c6;
	--hyacinth: #564D84;
	--cream: #e3dac9;
}